.about {
    &__photo {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3em;
        display: block;
        @include avatar-circle;
    }

    &__me {
        width: 200px;
        height: 200px;

        @include responsive-min(md) {
            float: left;
            display: inline-block;
            padding: 10px;
            padding-left: 0;
            margin: initial;
            shape-outside: ellipse();
        }
    }

    &__game-jams {
        width: 100%;
        img {
            border-radius: 10%;
        }
        @include responsive-min(lg) {
            width: 30%;
            float: right;
            display: inline-block;
            padding: 10px;
            padding-left: 0;
            margin: initial;
            shape-outside: margin-box;
        }
    }


    &__kayak {
        width: 100%;
        img {
            border-radius: 10%;
        }
        @include responsive-min(lg) {
            width: 30%;
            float: left;
            display: inline-block;
            padding: 20px;
            padding-left: 0;
            margin: initial;
            margin-right: 3em;
            shape-outside: margin-box;
        }
    }



}
