.main-nav {
    $main-nav-btn-delay: 0.1s;
    $main-nav-spacing: 1em;
    $hamburger-width: 2rem;
    $hamburger-height: 0.19rem;
    $hamburger-spread: 0.43rem;

    //background: red;
    &__brand {
        display: inline-block;
        font-size: 1em;
        padding: $main-nav-spacing;
        a {
            text-decoration: none;
        }
    }

    &__list {
        transition: max-height 0.2s;
        max-height: 0em;
        overflow: hidden;
    }

    &__list-item {
        list-style: none;
        padding: 0.4em;
        text-align: center;
				margin: 0;
        &:hover {
            background-color: rgba(0,0,0,0.01);
        }
        a {
            text-decoration: none;
        }

    }

    &__hamburger-checkbox:checked ~ &__list {
        max-height: 10em;
    }


    &__hamburger-checkbox:checked ~ &__mobile-menu-btn{
	      .main-nav__hamburger-menu {
	          background-color: transparent;
	          &:before {
		            margin-top: 0;
		            transform: rotate(45deg);
                transition: margin $main-nav-btn-delay, transform $main-nav-btn-delay $main-nav-btn-delay;
	          }

	          &:after {
		            margin-top: 0;
		            transform: rotate(-45deg);
                transition: margin $main-nav-btn-delay, transform $main-nav-btn-delay $main-nav-btn-delay;
	          }
	      }
    }

    &__mobile-menu-btn {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        float: right;
        padding: $main-nav-spacing;
        @include noselect;
        &-text{
            @include text-displacement;
            display: inline-block;

        }


        %hamburger-section {
	          width: $hamburger-width;
	          height: $hamburger-height;
	          border-radius: 10px;
        }

        %hamburger-cross-section {
	          content: "";
	          position: absolute;
            transition: margin $main-nav-btn-delay $main-nav-btn-delay, transform $main-nav-btn-delay 0s;
        }

        & .main-nav__hamburger-menu {
            @extend %hamburger-section;
            background-color: $fg-color;
	          position: relative;
            transition: background-color $main-nav-btn-delay;
	          width: $hamburger-width;
            display: inline-flex;
            justify-content: flex-center;
	          &:before {
                background-color: $fg-color;
                @extend %hamburger-section;
                @extend %hamburger-cross-section;
		            margin-top: -$hamburger-spread;
                width: $hamburger-width;
	          }

	          &:after {
                background-color: $fg-color;
                @extend %hamburger-section;
                @extend %hamburger-cross-section;
		            margin-top: $hamburger-spread;
                width: $hamburger-width;
	          }
        }

    }


    @include responsive-min(md) {
        &__mobile-menu-btn {
            display: none;
        }
        &__list {
            display: inline-block;
            height: auto;
            max-height: none;
            float: right;
            margin: 0;
            padding: 1em;
        }
        &__list-item {
            display: inline-block;
        }

    }

    &__hamburger-checkbox {
	      display: none;
    }



}
