.form__field {
  clear: both;
  margin: 0 0 1.5em;
}

.form__label {
  display: block;
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  line-height: 1.6;
  cursor: pointer;
}

.form__input,
.form__select,
.form__textarea {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: inherit;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: inherit;
}

.form__select {
  line-height: 1.6;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__select[multiple],
.form__select[size]:not([size="1"]) {
  height: auto;
  background-image: none;
}

.form__select::-ms-expand {
  display: none;
}

.form__checkbox,
.form__radio {
  margin: 0 3px;
  float: left;
  margin-top: 0.6rem;
}

.form__checkbox + label,
.form__radio + label {
  display: block;
  margin-bottom: 0.5em;
}

.form__checkbox:focus,
.form__radio:focus,
.form__input:focus,
.form__select:focus,
.form__textarea:focus {
  border-color: black;
  outline: 0;
}

.form__textarea {
  height: initial;
}

.form__submit {
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: #444;
  border: 1px solid #222;
  color: white;
  font-size: inherit;
  font-family: inherit;
}

.form__submit:hover {
  box-shadow: 0 0 20px -4px #000000;
}

.form__submit:active {
  transform: scale(0.9);
}

.form__status {
  border-radius: var(--border-radius);
  padding: 1em;
}

.form__status--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.form__status--error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}