.index {
  margin-top: 10%;
}

.index__photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 3em;
  text-align: center;
}

.index__photo img {
  box-shadow: 0 0 10px -4px black;
  border-radius: 100%;
}

.index__title {
  text-align: center;
  margin-bottom: 0;
}

.index__subtitle {
  text-align: center;
  font-size: 1em;
}

.index__nav {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
}

.index__nav-item {
  margin: 0;
  display: inline-block;
}

.index__nav-link {
  text-indent: var(--text-displacement);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.index__nav-link:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10%;
}

.index__nav-link--github {
  background-image: url('../images/github.svg');
}

.index__nav-link--github:hover {
  background-image: url('../images/github-white.svg');
}

.index__nav-link--gitlab {
  background-image: url('../images/gitlab.svg');
}

.index__nav-link--gitlab:hover {
  background-image: url('../images/gitlab-white.svg');
}

.index__nav-link--twitter {
  background-image: url('../images/twitter.svg');
}

.index__nav-link--twitter:hover {
  background-image: url('../images/twitter-white.svg');
}

.index__nav-link--linkedin {
  background-image: url('../images/linkedin-square.svg');
}

.index__nav-link--linkedin:hover {
  background-image: url('../images/linkedin-square-white.svg');
}