@import 'fonts';

@import 'variables';
@import 'mixins';
@import 'responsive';
@import 'aal';
@import 'nav';


body {
  background-color: $background-color;
  color: $main-color;
  font-family: $text-font-family;
}





a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
