<nav class="main-nav">
  <h1 class="main-nav__brand"><%= link_to "Joe Dupuis", "/" %></h1>
  <input type="checkbox" id="hamburger" class="main-nav__hamburger-checkbox">
  <label for="hamburger" class="main-nav__mobile-menu-btn"><span class="main-nav__mobile-menu-btn-text">Menu</span><span class="main-nav__hamburger-menu"></span></label>
  <ul class="main-nav__list">
    <li class="main-nav__list-item"><%= link_to "Home", "/" %></li>
  </ul>
</nav>
