---
layout: about
title: About
---

<div class="about__photo about__me">
  <%= image_tag "joe.jpg" %>
</div>

Hi! My name is Joé Dupuis.

I am a freelance Dev and DevOps from Quebec City, living in Vancouver, Canada. I am currently working mostly with Rails and Nix for clients as a "CTO for hire". I also am always working on the side on some personal projects.

## Why am I writing this?

Most of my clients are referrals. I never really marketed my services. I never blogged, made ads or anything. For long stretch of time, my website was just redirecting to my linkedin. I sometimes get ask by clients and prospects for a portfolio and how I managed to acquire a set of skills that allow me to tackle everything they throw at me when they have so much trouble hiring good people.

I am also becoming increasingly picky in the projects I want to work on. I want to work on things that make me happy it's Monday!

Finally, I want to give back. I feel inspired by people like [DHH](https://twitter.com/dhh), truly committing to make the world a better place one dent at a time. I always liked teaching and I have strong opinions on what would make the industry a better place. I accumulated a backlog of potential blog post ideas and would like to drip it on this site as time goes.

So here I am! Selling myself! Building the site I am gonna point at if somebody asks me for a portfolio, a CV or tips on how to do X.

## The game development years

I started my career around college trying to build a GTA2 clone with some friends. I was I ended up falling in love with low-level programming while developing the engine. It must have been the thrill of solving harder problems. I ended up working at a Quebec city [game studio](http://www.berzerkstudio.com/) while also moonlighting on my own open source game engine and tools with a few partners. We participated in a few [game jams](https://en.wikipedia.org/wiki/Game_jam) with our engine (contest where you have 48 hours to build a game from scratch). We won one! I was offered a part-time teacher job at a college for a semester resulting from the game jam, but decided to refocus when I got promoted to R&D at the studio. The studio was interested in the technology I was working on and it was my chance to work full-time on my open source projects.

<div class="about__photo about__game-jams">
  <%= image_tag "game_jams.jpg" %>
</div>


During this period I ended up working and becoming proficient with:

- C/C++
- OpenGL / OpenGL ES
- A lot of maths!
- Objective-C, Java
- Mobile dev (Back when it was hard!)
- Benchmarking, profiling and optimizations (Phones back then were not what they are today!)
- Lua, The lua Stack (interfacing with C), JNI, SWIG, marshalling
- Cross compilation (C/C++ running on the Flash runtime and HTML5)
- Bash, CLI
- Git (and mercurial!)
- Ruby

We used ruby to build some DSL and tools (generating makefiles and ide projects, downloading and building dependencies, etc.). It didn't take long before I fell in love with it. Which pushed me towards the next chapter!

## The web development years

Back then, the video game industry and economics of the industry were nothing like they are today. Independent studios were rare, now they are everywhere! We were a big name in the flash days (Newgrounds, Kongregate, etc.) The industry started to change and it got harder and harder to get by with our model. [Then it happened.](https://www.youtube.com/watch?v=mtGATeWQeEw) The studio stopped most operations.

They rehired me as a freelancer for a while to finish some projects, which got me into freelance.

I started doing Web Development for clients on the side early in college. Mostly PHP with Symfony. This seemed like the obvious way to support myself while I was working on my long-term video game projects.

The game projects were quickly put on ice. I discovered Rails. From word-of-mouth the clients started to come. I had no website and didn't know how to sell, but people were happy with my work. Which landed repeat clients and lots of referrals.

After a while I hired one of my old partners and we worked as a small agency. I was slowly learning how to run a business and manage a team. We worked with bigger agencies as the "firefighter guys". The guys you call when everything is on fire and you need help!

We worked on every stack under the sun. The stacks kept getting more and more complex. In 2019, things snapped. We discovered Nix/Nixos and rediscovered the old Rails through Stimulus/Turbolinks. All of a sudden web development became simple again. Velocity increased, stress decreased, it was fun again!

After dabbling with Nixos for a while, my old partner got a grant from the EU to work full time on [Mobile nixos](https://mobile.nixos.org/). I was back to being a one-man army.

During this time I became proficient with/at :

- Rails, Laravel, Symfony, Wordpress, Magento, Spree
- Nix, Nixos, Nixops
- Linux
- Ruby
- JS, ES6, Typescript
- SCSS, BEM
- Angular, React, Ember
- Stimulus, Turbolinks (web and mobile), Rails UJS
- Devops
- Test driven development
- CI/CD
- Managing a team and integrating into bigger teams
- Working remotely effectively


<div class="about__photo about__kayak">
  <%= image_tag "kayak1.jpg" %>
</div>

## Me (the non-programming me)

If I am not programming, you'll find me:

- Hacking on some kind of electronic project
- Sea-kayaking and camping
- Skiing
- Mountain hiking
