---
layout: about
title: About
---

<div class="about__photo about__me">
  <%= image_tag "joe.jpg" %>
</div>

Hi! My name is Joé Dupuis.

I am a Senior Software Consultant at [Test Double](https://testdouble.com/). I am from Quebec City, living in Vancouver, Canada.

## The game development years

I started my career around college trying to build a GTA2 clone with some friends. I fell in love with low-level programming while developing the engine. I got hired at a Quebec city [game studio](http://www.berzerkstudio.com/) while also moonlighting on my own open source game engine and tools with a few partners. We participated in a few [game jams](https://en.wikipedia.org/wiki/Game_jam) with our engine (contest where you have 48 hours to build a game from scratch). We won one! The news got around and I was offered a part-time teacher job at a college. However, I decided to refocus after a semester, when I got promoted to R&D at the studio. The studio was interested in the technology I was working on and it was my chance to work full-time on my open source projects.

<div class="about__photo about__game-jams">
  <%= image_tag "game_jams.jpg" %>
</div>


During this period I worked and became proficient with:

- C/C++
- OpenGL / OpenGL ES
- A lot of maths!
- Objective-C, Java
- Mobile dev (Back when it was hard!)
- Benchmarking, profiling and optimizations (Phones back then were not what they are today!)
- Lua, The lua Stack (interfacing with C), JNI, SWIG, marshalling
- Cross compilation (C/C++ running on the Flash runtime and HTML5)
- Bash, CLI
- Git (and mercurial!)
- Ruby

We used ruby to build some DSL and tools (generating makefiles and ide projects, downloading and building dependencies, etc.). It didn't take long before I fell in love with the language. Which pushed me towards the next chapter!

## The web development years

Back then, the video game industry and economics of the industry were nothing like they are today. Independent studios were rare, now they are everywhere! We were a big name in the flash days (Newgrounds, Kongregate, etc.) The industry started to change and it got harder and harder to get by with our business model. [Then it happened.](https://www.youtube.com/watch?v=mtGATeWQeEw) The studio stopped most operations.

They rehired me as a freelancer for a while to finish some projects, which got me into freelance.

I was already doing Web Development for clients on the side. Mostly PHP with Symfony. This seemed like the obvious way to support myself while I was working on my long-term video game projects.

The game projects were quickly put on ice. I discovered Rails. From word of mouth, the clients started to come. I had no website and didn't know how to sell, but people were happy with my work. Which provided me with repeat clients and referrals.

After a while I hired one of my old partners and we worked as a small agency. I was slowly learning how to run a business and manage a team. We worked with bigger agencies as the "firefighters". We were the ones you called when everything was on fire and you needed help!

After dabbling with Nixos for a while, my old partner got a grant from the EU to work full time on [Mobile nixos](https://mobile.nixos.org/).

This got me to reevaluate what I wanted to do regarding freelance. I was eyeing Test Double for a while as their values aligned with mines, so I applied.

So here I am. A Software Consultant at [Test Double](https://testdouble.com/), trying bit by bit to enhance the world of software!



During this time I became proficient with :

- Rails, Laravel, Spree
- React, Angular, Ember
- Nix, Nixos, Nixops
- Terraform
- Kubernetes
- AWS (EKS, ECS, RDS, etc.)
- Devops
- JS, ES6, Typescript
- SCSS, BEM
- Stimulus, Turbolinks (web and mobile), Rails UJS
- Test-driven development
- CI/CD (Buildkite, Gitlab CI)
- Working remotely effectively


<div class="about__photo about__kayak">
  <%= image_tag "kayak1.jpg" %>
</div>

## Me (the non-programming me)

If I am not programming, you'll find me:

- Hacking on some kind of electronic project
- Sea-kayaking and camping
- Skiing
- Mountain hiking
